{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
    {cowboy, "2.12.0"}
]}.

{profiles, [
    {test, [
        {erl_opts, [debug_info, nowarn_export_all]},
        {deps, [
            {covertool, "2.0.6"}
        ]},
        {cover_enabled, true},
        {cover_opts, [verbose]},
        {cover_export_enabled, true},
        {cover_spec, "cover.spec"},
        {covertool, [{coverdata_files, ["eunit.coverdata", "ct.coverdata"]}]}
    ]}
]}.

{project_plugins, [
    rebar3_hex,
    rebar3_ex_doc
]}.

{shell, [{apps, [erl_mcp]}]}.
